@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background: #434343;
  border-radius: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #F46036;
  border-radius: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgba(244, 96, 54, 0.6);
}
