.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.friend-card {
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(45, 45, 45, 0.5);
  overflow: visible;
}

.friend-card:hover {
  border: 1px solid rgba(244, 96, 54, 1);
}

.friend-avatar {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.friend-avatar:hover {
  border: 2px solid rgba(8, 178, 227, 1);
}

.search-input input:focus {
    border: 1px solid rgba(244, 96, 54, 1);
}
