.nav-header {
  background-color: rgba(46, 41, 78, 0.5);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
  z-index: 200;
}

.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.page-nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
