.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  animation: blink 1s;
  animation-iteration-count: 3;
}

.game-card:hover {
  border: 1px solid rgba(244, 96, 54, 1);
}

.game-card .join {
background-color: rgba(8, 178, 227, 1);
}

@keyframes blink { 50% { border-color: rgba(244, 96, 54, 1); } }